/* Header */
header{
  display: flex;
  padding: 5%;
  align-items: center;
  width: 100vw;
  height: 5vh;
  background-color: black;
  position: fixed;
}
a{
  color: white;
  text-align: center;
  text-decoration: none;
}
.selected{
  border-color: white;
}
.navButton{
  padding: 1%;
  width: 20%;
  aspect-ratio: 5/3;
}
.icons{
  width: 90%;
  height: 90%;
}
.grow{
  animation: grow 1s linear forwards;
}
.shrink{
  animation: shrink 0.9s linear forwards;
}
#logo{
  width: 10%;
  aspect-ratio: 1/1;
}
#centreHeader{
  width: 60%;
  height: fit-content;
  margin-left: 5%;
  display: flex;
  text-align: center;
  gap: 1vw;
}
#profileHeader{
  aspect-ratio: 1.5/1;
  margin-right: 5%;
  width: 15%;
}
#profileIcon{
  border: 1px solid none;
  border-radius: 50%;
}
#seachButton{
  background-color: black;
  text-align: center;
  border: none;
}
#seachInput{
  display: block;
  width: 0vw;
  height: 100%;
  border-radius: 15px;
  opacity: 0;
}
@keyframes grow {
  from {
    opacity: 0;
    width: 0;
  }
  to{
    opacity: 100%;
    width: 40%;
  }
}
@keyframes shrink {
  from{
    opacity: 100%;
    width: 40%;
  }
  to {
    opacity: 0;
    width: 1vw;
  }
}
/* Main */
main{
  display: flex;
  align-items: center;
  width: 100vw;
  height: 50vh;
  background-color: lightgrey;
}
/* Footer */
footer{
  display: flex;
  align-items: center;
  width: 100vw;
  height: 25vh;
  background-color: black;
}